.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--clr-grey-light-4);
  min-height: 50rem;

  @media screen and (max-width: $tab-land) {
    margin: 0;
    max-width: 100%;
  }
}

.header {
  height: 7rem;
  background-color: var(--clr-grey-light-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;

  @media screen and (max-width: $tab-port) {
    flex-direction: column;
  }
}

.sidebar {
  background-color: var(--clr-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 0;

  @media screen and (max-width: $tab-port) {
    padding: 0;
  }
}

.hotel-main {
  flex: 1;
  background-color: white;
}

.details {
  background-color: var(--clr-grey-light-1);
  display: flex;
  padding: 4rem;
  @media screen and (max-width: $middle) {
    flex-direction: column;
  }
}

.description {
  background-color: var(--clr-white);
  flex: 0 0 60%;
  margin-right: 4rem;
  padding: 3rem;
  box-shadow: var(--shadow-dark);

  @media screen and (max-width: $middle) {
    margin-right: 0;
    margin-bottom: 2rem;
  }
}

.user-reviews {
  flex: 1;

  @media screen and (max-width: $middle) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
